<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      <strong><%= t('alert.message') %></strong> : <%= @message %>
      <br/><%= t('alert.request') %> : <%= @request %>
      <br/><%= t('alert.params') %> : <%= @params %>
      <br/><%= t('alert.remote_ip') %> : <%= @remote_ip %>
      <% unless @referer.blank? %><br/><%= t('alert.referer') %> : <%= @referer %><% end %>
      <% unless @user.blank? %><br/><%= t('alert.user') %> : <%= @user %><% end %>
      <% unless @invalid_backtrace.nil? %>
        <br/><%= @invalid_backtrace.join('<br/>').html_safe %>
      <% end %>
    </p>
  </body>
</html>