<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      <strong><%= t('activerecord.attributes.subscription.first_name') %></strong> : <%= @first_name %>
      <br/><strong><%= t('activerecord.attributes.subscription.last_name') %></strong> : <%= @last_name %>
      <br/><strong><%= t('activerecord.attributes.subscription.email') %></strong> : <%= @email %>
      <br/><strong><%= t('activerecord.attributes.subscription.address') %></strong> : <%= @address %>
      <br/><strong><%= t('activerecord.attributes.subscription.zip_code') %></strong> : <%= @zip_code %>
      <br/><strong><%= t('activerecord.attributes.subscription.city') %></strong> : <%= @city %>
      <br/><strong><%= t('activerecord.attributes.subscription.phone') %></strong> : <%= @phone %>
    </p>
  </body>
</html>