<section class="content-bloc">
  <article class="article">
    <header>
      <h3 class="category">
        <%= t('general.mypage') %>&nbsp;&bull;
      </h3>
    </header>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>
      <br/>
      <div><div class="mandatory">*</div><%= f.label :email %><br/>
      <%= f.email_field :email, :required => true %></div>
      <div><div class="mandatory">*</div><%= f.label :password %> <div class="information">(<%= t('devise.registrations.leave_blank') %>)</div><br/>
      <%= f.password_field :password, :required => true %></div>
      <div><div class="mandatory">*</div><%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation, :required => true %></div>
      <div><div class="mandatory">*</div><%= f.label :current_password %> <div class="information">(<%= t('devise.registrations.current_password_label') %>)</div><br/>
      <%= f.password_field :current_password, :required => true %></div>
      <br/>
      <div class="actions"><%= f.submit t('devise.passwords.change_your_password') %></div>
      <div class="mandatory">*</div>&nbsp;:<%= t('general.mandatory') %>
    <% end %>
  </article>
</section>
<section class="content-bloc">
  <article class="article">
    <header>
      <h3 class="category">
        <%= t('devise.registrations.cancel_my_account') %>&nbsp;&bull;
      </h3>
    </header>
    <p><%= t('devise.registrations.unhappy') %> <%= link_to t('devise.registrations.cancel_my_account'), registration_path(resource_name), :data => {:confirm => t("action.confirm")}, :method => :delete %>.</p>
  </article>
</section>