<div class="edit">
  <%= f.hidden_field :category %>
  <table>
    <% if @article.category_option?(:image) %>
      <tr>
        <td colspan="2">
          <div class="information"><%= t('action.image.create') %></div>
          <%= f.file_field :image, :accept => 'image/jpeg, image/png, image/gif' %><br/>
          <span class="information"><%= t('action.image.external') %></span>
          <%= f.text_field :image_remote_url_input, :size => "60" %>
          <br/>
          <br/>
          <% if @article.image_file_name.present? %>
            <%= image_tag @article.image.url(:medium) if @article.image_file_name.present? %>
          <% end %>
        </td>
      </tr>
    <% elsif @article.category_option?(:audio) %>
      <tr>
        <td colspan="2">
          <div class="information"><%= t('action.document.create') %></div>
          <%= f.file_field :document, :accept => 'audio/mpeg' %>
          <br/>
          <% if @article.document_file_name.present? %>
            <%= @article.title_display %> 
            (<%= @article.document_content_type %>)&nbsp;&bull;
            <%= t("activerecord.attributes.article.file_size") %>&nbsp;:
            <%= number_to_human_size @article.document_file_size %><br/>
          <% end %>
        </td>
      </tr>
    <% elsif @article.category_option?(:document) %>
      <tr>
        <td colspan="2">
          <div class="information"><%= t('action.document.create') %></div>
          <%= f.file_field :document, :accept => 'application/pdf' %>
          <br/>
          <% if @article.document_file_name.present? %>
            <%= @article.title_display %> 
            (<%= @article.document_content_type %>)&nbsp;&bull;
            <%= t("activerecord.attributes.article.file_size") %>&nbsp;:
            <%= number_to_human_size @article.document_file_size %><br/>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td><%= f.label :heading %></td>
      <td><%= f.text_field :heading, :size => "80x1" %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.check_box :show_heading %> <%= f.label :show_heading %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :title %></td>
      <td><%= f.text_field :title, :size => "80x1" %></td>
    </tr>
    <% if @article.category_option?(:start_end_dates) %>
      <tr>
        <td><%= f.label :schedule %></td>
        <td><%= f.datetime_select :start_datetime %> / <%= f.time_select :end_datetime %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.check_box :no_endtime %>&nbsp;<%= f.label :no_endtime %> <%= f.check_box :all_day %>&nbsp;<%= f.label :all_day %></td>
      </tr>
      <tr>
        <td><%= f.label :address %></td>
        <td><%= f.text_field :address, :size => "80x1" %></td>
      </tr>
    <% end %>
    <% if @article.category_option?(:email) %>
      <tr>
        <td><%= f.label :email %></td>
        <td><%= f.text_field :email, :size => "80x1" %></td>
      </tr>
    <% end %>
    <tr>
      <td><%= f.label :signature %></td>
      <td><%= f.text_field :signature, :size => "80x1" %></td>
    </tr>
    <tr>
      <td><%= f.label :parent_id %></td>
      <td><%= f.select :parent_id, @folders, {:include_blank => true}, :style => 'width: 512px;' %></td>
    </tr>
    <tr>
      <td><%= f.label :source_id %></td>
      <td><%= f.select :source_id, @sources, {:include_blank => true}, :style => 'width: 512px;' %></td>
    </tr>
    <% if @article.category_option?(:parent) or @article.category_option?(:source) %>
      <tr>
        <td><%= f.label :external_id %></td>
        <td><%= f.text_field :external_id, :size => "80x1" %></td>
      </tr>
    <% end %>
    <tr>
      <td><%= f.label :published_at %></td>
      <td>
        <%= f.date_select :published_at,
                          :start_year => Time.now.year - 10,
                          :end_year => Time.now.year + 10 %>
        &nbsp;
        <%= f.check_box :zoom %>
        <%= f.label :zoom %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :expired_at %></td>
      <td>
        <%= f.date_select :expired_at,
                          :start_year => Time.now.year, 
                          :end_year => Time.now.year + 99 %>
        &nbsp;
        <%= f.check_box :draft %>
        <%= f.label :draft %>
      </td>
    </tr>
  </table>
  <%= f.text_area :content, :size => "80x40" %>
</div>