<% for article in articles %>
  <li>
    <article class="article">
      <%= article.status_display_with_style.html_safe %>
      <header>
        <small><%= display_time_by(article.updated_by, article.updated_at) %></small><br/>
        <% if article.heading.present? %>
          <h4><%= article.heading_display.html_safe %><br/></h4>
        <% end %>
        <h3 class="category">
          <%= article.category_display %>&nbsp;&bull;
          <%= link_to article.title_display.html_safe,
                :action => :show,
                :id => article.id %>
          <% if article.will_expire_soon? %>
            <br/><%= t('activerecord.attributes.article.expired_at') %>&nbsp;<%= l article.expired_at, :format => :long_ordinal %>
          <% end %>
        </h3>
        <% if article.source_id.present? %>
          <br/>
          <h2 class="main-title">
            <%= t('activerecord.attributes.article.source_id') %>&nbsp;&bull;
            <%= link_to article.source_display.html_safe, 
                  :action => :show, 
                  :id => article.source_id %>
          </h2>
        <% end %>
        <% if article.parent_id.present? %>
          <br/>
          <h2 class="main-title">
            <%= t('activerecord.attributes.article.parent_id') %>&nbsp;&bull;
            <%= link_to article.folder_display.html_safe, 
                  :action => :show, 
                  :id => article.parent_id %>
          </h2>
        <% end %>
        <div class="signature">
          <div class="date"><%= l article.published_at, :format => :long_ordinal %></div>&nbsp;
          <%= article.signature if article.category_option?(:signature) %>
        </div>
      </header>
      <% if article.category_option?(:start_end_dates) or not article.agenda.blank? %>
        <%= article.start_end_datetime_display %>
        <br/>
      <% end %>
      <% if not article.address.blank? %>
        <strong><%= t('activerecord.attributes.article.address') %></strong>
        <%= article.address %>
        <br/>
      <% end %>
      <%= truncate_html(article.content_with_large).html_safe %>
      <% if article.category_option?(:image) and article.image_file_name.present? %>
        <%= image_tag article.image.url(:large) %>
      <% end %>
    </article>
  </li>
<% end %>