<div class="signature">
  <div class="date"><%= l @article.published_at, :format => :long_ordinal %></div>&nbsp;
  <%= @article.signature if @article.category_option?(:signature) %>
</div>
<% if @article.zoom %>
  <strong><%= t('activerecord.attributes.article.zoom') %></strong>
  <br/>
<% end %>
<% if @article.zoom_video %>
  <strong><%= t('activerecord.attributes.article.zoom_video') %></strong>
  <br/>
<% end %>
<% if @article.home_video %>
  <strong><%= t('activerecord.attributes.article.home_video') %></strong>
  <br/>
<% end %>
<% if @article.zoom_sequence.present? and @article.zoom_sequence > 1 %>
  <strong><%= t('activerecord.attributes.article.zoom_sequence') %></strong> : 
  <%= @article.zoom_sequence %>
  <br/>
<% end %>
<% if not @article.external_id.blank? %>
  <strong><%= t('activerecord.attributes.article.external_id') %></strong>&nbsp;:
  <%= @article.external_id %><br/>
<% end %>
<% if @article.category_option?(:start_end_dates) or not @article.agenda.blank? %>
  <div class="date"><%= @article.start_end_datetime_display(true) %></div>
<% end %>
<% if not @article.address.blank? %>
  <strong><%= @article.address %></strong>
  <small>(<%= @article.longitude %>, <%= @article.latitude %>)</small>
<% end %>
<br/>
<% if @article.category_option?(:email) and not @article.email.blank? %>
  <strong><%= t('activerecord.attributes.article.email') %></strong>&nbsp;:
  <%= @article.email %><br/>
<% end %>
<br/>
<% if @article.category_option?(:audio) and @article.document_file_name.present? %>
  <%= render :partial => 'layouts/audio', :locals => {:article => @article} %>
<% elsif @article.category_option?(:document) and @article.document_file_name.present? %>
  <%= link_to @article.document.url do %>
    <%= @article.title_display %> 
    (<%= @article.document_content_type %>)&nbsp;&bull;
    <%= t("activerecord.attributes.article.file_size") %>&nbsp;:
    <%= number_to_human_size @article.document_file_size %><br/>
  <% end %>
  <br/>
<% elsif @article.category_option?(:image) and @article.image_file_name.present? %>
  <% if @article.image_remote_url.present? %>
    <%= @article.image_remote_url %>&nbsp;&bull;
  <% end %>
  <%= t("activerecord.attributes.article.content_type") %>&nbsp;:
  <%= @article.image_content_type %>&nbsp;&bull;
  <%= t("activerecord.attributes.article.file_size") %>&nbsp;:
  <%= number_to_human_size @article.image_file_size %><br/>
  <br/>
  <div class="information"><%= t("activerecord.attributes.article.image_inline") %></div><br/>
  <%= image_tag @article.image.url(:inline) %><br/>
  <div class="information"><%= t("activerecord.attributes.article.image_large") %></div><br/>
  <%= image_tag @article.image.url(:large) %><br/>
  <div class="information"><%= t("activerecord.attributes.article.image_zoom") %></div><br/>
  <%= image_tag @article.image.url(:zoom) %><br/>
  <div class="information"><%= t("activerecord.attributes.article.image_alternate") %></div><br/>
  <%= image_tag @article.image.url(:alternate) %><br/>
  <div class="information"><%= t("activerecord.attributes.article.image_medium") %></div><br/>
  <%= image_tag @article.image.url(:medium) %><br/>
  <div class="information"><%= t("activerecord.attributes.article.image_small") %></div><br/>
  <%= image_tag @article.image.url(:small) %><br/>
  <div class="information"><%= t("activerecord.attributes.article.image_mini") %></div><br/>
  <%= image_tag @article.image.url(:mini) %><br/>
<% end %>
<%= @article.content_with_inline.html_safe unless @article.content.blank? %>
<% if @article.original_url.present? %>
  <strong><a href="<%= @article.original_url %>" title="<%= @article.title_display.html_safe %>" rel="canonical" target="_blank"><%= t("activerecord.attributes.article.original_url_long") %></a></strong>
<% end %>