<section id="editor-toolbox">
  <section class="content-bloc">
    <%= render :partial => 'show_status' %>
  </section>
</section>
<section id="articles-box">
  <section class="content-bloc">
    <%= form_for(@article) do |f| %>
      <%= hidden_field_tag "modifier", @modifier %>
      <article class="article">
        <aside class="actions">
          <%= f.label :gravity %> <%= f.select :gravity, Article::gravities %>&nbsp;&bull;
          <%= link_to t('action.cancel'), :back %>&nbsp;&bull;
          <%= f.submit t('action.ok'), :data => { disable_with: t('action.wait') } %>
        </aside>
        <header>
          <h3 class="category"><%= @article.category_display %></h3>&nbsp;&bull;
          <h1><%= @article.title_display.html_safe %></h1>
        </header>
        <%= render :partial => 'layouts/error_messages', :locals => { :item => @article } %>
        <%= render :partial => 'show' %>
      </article>
    <% end %>
  </section>
</section>