<section id="editor-toolbox">
  <section class="content-bloc">
    <%= render :partial => 'show_status' %>
  </section>
</section>
<section id="articles-box">
  <section class="content-bloc">
    <%= form_for(@article) do |f| %>
      <%= hidden_field_tag "modifier", params[:modifier] %>
      <article class="article">
        <aside class="actions">
          <%= f.label :category %> <%= f.select :category, Article::activated_categories(current_user) %>&nbsp;&bull;
          <a href="<%= session[:last_url] %>"><%= t('action.back') %></a>&nbsp;&bull;
          <%= f.submit t('action.ok'), :disable_with => t('action.wait') %>
        </aside>
        <header>
          <h3 class="category">
            <%= @article.category_display %>&nbsp;&bull;
          </h3>
          <h1>
            <%= @article.title_display.html_safe %>
          </h1>
        </header>
        <%= render :partial => 'layouts/error_messages', :locals => { :item => @article } %>
        <%= render :partial => 'show' %>
      </article>
    <% end %>
  </section>
</section>