<%= render :partial => 'administration/menu' %>
<section id="administration-work">
  <%= form_tag administration_path, :method => :get do %>
    <%= hidden_field_tag :type, @type %>
    <section class="content-bloc">
      <aside class="actions">
        <%= search_field_tag :search, @search, :size => "50", :placeholder => t('action.search') %>
        <%= submit_tag t('action.search') %>
      </aside>
    </section>
  <% end if @type %>
  <section class="content-bloc">
    <% unless @logs.empty? %>
      <ol><% @logs.each do |log| %><li><%= log %></li><% end %></ol>
    <% else %>
      <%= t('article.empty') %>
    <% end %>
  </section>
</section>