<section class="content-bloc">
  <article class="article">
    <header>
      <h3 class="category">
        <%= t('devise.shared.didnt_receive_unlock_instructions?') %>&nbsp;&bull;
      </h3>
    </header>
    <%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= devise_error_messages! %>
      <br/>
      <div><div class="mandatory">*</div><%= f.label :email %><br />
      <%= f.email_field :email, :required => true %></div>
      <br/>
      <div class="actions"><%= f.submit t('devise.unlocks.resend_instructions') %></div>
      <div class="mandatory">*</div>&nbsp;:<%= t('general.mandatory') %>
    <% end %>
    <%= render :partial => "devise/shared/links" %>
  </article>
</section>