<section id="educpop-liste">
  <section class="content-bloc">
    <%= render :partial => 'layouts/index_articles_1col_2_on_3', 
          :locals => { :articles => @articles, :category => 'vendredi' } %>
  </section>
</section>
<section id="educpop-vignettes">
  <section class="content-bloc">
    <%= render :partial => 'layouts/index_articles_1col_1_on_3_picture', 
          :locals => { :articles => @livres, :category => 'livre' } %>
  </section>
  <section class="content-bloc">
    <%= render :partial => 'layouts/index_articles_1col_1_on_3_picture', 
          :locals => { :articles => @dates, :category => 'date' } %>
  </section>
  <section class="content-bloc">
    <%= render :partial => 'layouts/index_articles_1col_1_on_3_picture', 
          :locals => { :articles => @lectures, :category => 'lecture' } %>
  </section>
  <section class="content-bloc">
    <%= render :partial => 'layouts/index_articles_1col_1_on_3_picture', 
          :locals => { :articles => @revues, :category => 'revue' } %>
  </section>
</section>