<section id="actualites-liste">
  <section class="content-bloc">
    <%= render :partial => 'layouts/article' %>
  </section>
</section>
<section id="actualites-vignettes">
  <section class="content-bloc">
    <%= render :partial => 'layouts/index_articles_1col_1_on_3_picture', 
          :locals => { :articles => @actus, :category => 'actu' } %>
  </section>
  <section class="content-bloc">
    <%= render :partial => 'layouts/index_articles_1col_1_on_3_picture', 
          :locals => { :articles => @communiques, :category => 'com' } %>
  </section>
  <section class="content-bloc">
    <%= render :partial => 'layouts/index_articles_1col_1_on_3_picture', 
          :locals => { :articles => @tout_international, :category => 'inter' } %>
  </section>
  <section class="content-bloc highlighted-bloc">
    <%= render :partial => 'layouts/index_articles_1col_1_on_3_picture', 
          :locals => { :articles => @dossiers, :category => 'dossier' } %>
  </section>
</section>