<section id="actualites-liste">
  <section class="content-bloc">
    <%= render :partial => 'layouts/article' %>
  </section>
</section>
<section id="actualites-vignettes">
  <section class="content-bloc">
    <%= render :partial => 'layouts/articles_1col_1_on_3_picture', :locals => { :articles => @editos } %>
  </section>
  <section class="content-bloc">
    <%= render :partial => 'layouts/articles_1col_1_on_3_picture', :locals => { :articles => @actus } %>
  </section>
  <section class="content-bloc">
    <%= render :partial => 'layouts/articles_1col_1_on_3_picture', :locals => { :articles => @communiques } %>
  </section>
  <section class="content-bloc highlighted-bloc">
    <%= render :partial => 'layouts/articles_1col_1_on_3_picture', :locals => { :articles => @dossiers } %>
  </section>
</section>