<%= render :partial => 'administration/menu' %>

<section id="administration-work">
  <section class="content-bloc">
    <%= form_for(@user) do |f| %>
      <article class="article">
        <aside class="actions">
  				<%= t('action.user.update') %>&nbsp;&bull;
  				<%= link_to t('action.cancel'), @user %>&nbsp;&bull;
  				<%= f.submit t('action.ok'), :data => { disable_with: t('action.wait') } %>
  			</aside>
  			<%= render :partial => 'layouts/error_messages', :locals => { :item => @user } %>
  			<table>
  				<tr>
  					<td><div class="mandatory">*</div><strong><%= t('activerecord.attributes.user.email') %></strong></td>
  					<td><%= f.email_field :email, :size => "100x10" %></td>
  				</tr>
  				<%= render :partial => 'roles', :locals => { :f => f } %>
  			</table>
  			<div class="mandatory">*</div>&nbsp;:
        <%= t('general.mandatory') %>
  		</article>
    <% end %>
  </section>
</section>