<section class="content-bloc">
  <%= form_for([@article, @tag]) do |f| %>
    <article class="article">
      <aside class="actions">
				<%= t('action.tag.create') %>&nbsp;&bull;
				<%= link_to t('action.cancel'), @article %>&nbsp;&bull;
				<%= f.submit t('action.ok'), :disable_with => t('action.wait') %>
			</aside>
      <%= render :partial => 'layouts/error_messages', :locals => { :item => @tag } %>
      <header>
        <h3 class="category">
          <%= t('activerecord.attributes.article.tags') %>&nbsp;&bull;
        </h3>
        <h1>
          <%= @article.title %>
        </h1>
      </header>
      <div class="information"><%= t('activerecord.attributes.tag.tag_create_explain') %></div><br/>
      <%= f.text_field :tag, :size => "70x1" %>
    </article>
  <% end %>
</section>
<section class="content-bloc">
  <div class="information"><%= t('activerecord.attributes.tag.tag_add_explain') %></div><br/>
  <div class="tag">
    <% for tag in @unused_tags %>
      <%= link_to icon('plus.gif') + ' ' + tag.tag.html_safe,
            :controller => :tags,
            :modifier => :add,
            :article_id => @article.id,
            :tag => tag.tag %>
    <% end %>
  </div>
</section>