<section id="editor-toolbox">
  <section id="search-box" class="content-bloc">
    <aside class="actions">
      <%= form_tag({:action => :search,
                    :category => @category},
                    :remote => true,
                    :id => 'search-form') do %>
        <%= search_field_tag :search,
                             @search,
                             :placeholder => t('action.search') %>
        <%= submit_tag t("action.search") %>
      <% end %>
    </aside>
  </section>
  <section id="categories-list" class="content-bloc">
    <%= render :partial => 'menu_content' %>
  </section>
</section>
<section id="articles-box">
  <% unless @article.nil? %>
    <section class="content-bloc">
      <article class="article">
        <aside class="actions">
          <%= link_to t('action.back'), :back %>
        </aside>
        <header>
          <% unless @article.heading.nil? %>
            <h4><%= @article.heading_display.html_safe %><br/></h4>
          <% end %>
          <h3 class="category">
            <%= @article.category_display %>&nbsp;&bull;
          </h3>
          <h1>
            <%= @article.title_display.html_safe %>
          </h1>
        </header>
        <%= render :partial => 'articles/show' %>
      </article>
    </section>
  <% end %>
</section>