<% unless article.nil? %>
  <article class="article">
    <header>
      <h3 class="main-title">
      <% if article.category_option?(:link_all_title) %>
        <%= link_to article.category_option(:category_title), 
                    { :controller => article.category_option(:controller), 
                    :action => article.category_option(:action_all) },
                    :title => article.category_option(:link_all_title) %>
      <% else %>
        <%= article.category_option(:category_title) %>
      <% end %>
      </h3>&nbsp;&bull;
      <br/>
      <h1 class="large-title"><%= article.title_display.html_safe %></h1>
      <div class="tag">
        <% for tag in article.tags %><%= link_to tag.tag, global_search_path(:search => tag.tag) %><% end %>
      </div>
    </header>
    <%= article.content_with_large.html_safe %>
    <section id="photos" class="photos">
      <% if article.category_option?(:parent) %>
        <% first = true %>
        <% for photo in article.find_published_by_folder_and_category('image',1,999) %>
          <% unless photo.image.blank? %>
            <div style="<%= first ? "" : "display: none" %>">
              <a class="previous" style="display: none"><%= icon_large 'previous.png' %></a>
              <%= link_to image_tag(photo.image.url(:inline, false)), photo.image.url(:original, false), :target => "_blank" %>
              <a class="next" style="display: none"><%= icon_large 'next.png' %></a>
              <br/>
              <% if photo.category_option?(:signature) and not photo.signature.blank? %>
                <center>
                  <small>
                    <%= t('activerecord.attributes.article.credit') %>
                    <%= photo.signature %>
                  </small>
                </center>
              <% end %>
            </div>
            <% first = false %>
          <% end %>
        <% end %>
      <% end %>
    </section>
    <%= render :partial => 'layouts/share_article' %>
  </article>
<% end %>
<script>
  function hideButtons() { $('.previous').hide(); $('.next').hide(); };
  function showButtons() { $('.previous').fadeIn(300); $('.next').fadeIn(300); };
  function previous() {
    $('#photos div:first').before($('#photos div:last'));
    showOnlyFirst();
  };
  function next() {
    $('#photos div:last').after($('#photos div:first'));
    showOnlyFirst();
  };
  function showOnlyFirst() {
    $('#photos div').hide();
    $('#photos div:first').fadeIn(1000);
    hideButtons();
  };
  $(document).ready(function() {
    var speed = 3000;
    var run = setInterval('next()', speed);
    $('.previous').click(function() {
      previous();
      showButtons();
      return false;
    });
    $('.next').click(function() {
      next();
      showButtons();
      return false;
    });
    $('#photos').hover(
      function() {  showButtons(); clearInterval(run); },
      function() {  hideButtons(); run = setInterval('next()', speed); }
    );
  });
</script>
