<% cache_if can_cache?, @url do %>
  <section id="photos-liste">
    <section class="content-bloc">
      <% unless @article.nil? or @article.image.nil? %>
        <article class="article">
          <header>
            <h1><%= link_to @article.title_display.html_safe, @article.path %></h1>
          </header>
            <p class="photos">
              <%= link_to image_tag(@article.image.url(:inline, false)),
                          :controller => :photos,
                          :action => :diaporama,
                          :uri => @article.uri %>
            </p>
            <% if @article.category_option?(:signature) and not @article.signature.blank? %>
              <center>
                <div class="signature">
                  <%= t('activerecord.attributes.article.credit') %>
                  <%= @article.signature %>
                </div>
              </center>
            <% end %>
        </article>
      <% else %>
        <%= render :partial => 'diaporamas', :locals => { :articles => @articles } %>
      <% end %>
    </section>
  </section>
<% end %>