<div class="form">
  <%= form_for @request, :url => { :action => "envoyer_message" } do |f| %>
    <article class="article">
      <header>
        <h3 class="category">
          <%= t('action.request.title') %>
        </h3>
      </header>
      <%= render :partial => 'layouts/error_messages', :locals => { :item => @request } %>
      <table>
        <tr>
          <td><div class="mandatory">*</div><%= f.label :recipient %></td>
          <td>
            <%= t('activerecord.attributes.request.recipient_explain') %><br/>
            <%= f.select :recipient, Article::find_published_email_articles, {:prompt =>t('action.select')}, :style => 'width: 330px;' %><br/>
            <div class="information">
              <%= t('activerecord.attributes.request.recipient_explain2').html_safe %><br/>
              <%= t('activerecord.attributes.request.recipient_explain3').html_safe %>
            </div>
          </td>
        </tr>
        <tr><td><div class="mandatory">*</div><%= f.label :first_name %></td><td><%= f.text_field :first_name, :required => true %></td></tr>
        <tr><td><div class="mandatory">*</div><%= f.label :last_name %></td><td><%= f.text_field :last_name, :required => true %></td></tr>
        <tr><td><div class="mandatory">*</div><%= f.label :email %></td><td><%= f.email_field :email, :required => true %></td></tr>
        <tr><td><%= f.label :address %></td><td><%= f.text_field :address %></td></tr>
        <tr><td><%= f.label :zip_code %></td><td><%= f.text_field :zip_code %></td></tr>
        <tr><td><%= f.label :city %></td><td><%= f.text_field :city %></td></tr>
        <tr><td><%= f.label :country %></td><td><%= f.text_field :country %></td></tr>
        <tr><td><%= f.label :phone %></td><td><%= f.text_field :phone %></td></tr>
        <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td><div class="mandatory">*</div><%= f.label :comment %></td><td><%= f.text_area :comment, :required => true %></td></tr>
        <tr>
          <td>
            <div class="mandatory">*</div>&nbsp:
            <%= t('general.mandatory') %>
          </td>
          <td>
            <aside class="actions">
              <%= submit_tag t('action.send'), :data => { disable_with: t('action.wait') } %>
            </aside>
          </td>
        </tr>
      </table>
    </article>
  <% end %>
</div>