<% cache 'identity-radio' do %>
  <section id="partidegauche">
    <span title="<%= t 'identity.radiodegauche_title' %>">
      <%= link_to t('identity.radiodegauche_link') do %><img src="<%= asset_path 'logo-radio-de-gauche-large.png' %>" alt="<%= t 'identity.radiodegauche_title' %>" width="275" height="108"><% end %>
    </span>
    <a class="adhesion" href="/adhesion" title="<%= t 'identity.apply' %>"><img src="<%= asset_path 'adherer.png' %>" alt="<%= t 'identity.apply' %>" width="90" height="90"></a>
    <span id="dons">
      <a class="don" href="/don" title="<%= t 'identity.support' %>"><img src="<%= asset_path 'dons.gif' %>" alt="<%= t 'identity.support' %>" width="90" height="90"></a>
    </span>
    <a class="gaucheparlexemple" target="_blank" href="<%= t 'identity.gaucheexemple_web' %>" title="<%= t 'identity.gaucheexemple' %>"><img src="<%= asset_path 'lagaucheparlexemple.png' %>" alt="<%= t 'identity.gaucheexemple' %>" width="90" height="90"></a>
  </section>
  <section id="frontdegauche" title="<%= t 'identity.pg_fdg' %>">
    <img name="bloc_PG_FDG" src="<%= asset_path 'PG-FDG-small.jpg' %>" alt="<%= t 'general.title' %>" width="107" height="108" id="bloc_PG_FDG" usemap="#m_bloc_PG_FDG" />
    <map name="m_bloc_PG_FDG" id="m_bloc_PG_FDG">
      <area shape="poly" coords="0,52,107,52,107,108,0,108,0,52" href="<%= t 'identity.fdg_web' %>" target="_blank" title="<%= t 'identity.fdg' %>" alt="<%= t 'identity.fdg' %>" />
      <area shape="poly" coords="0,0,107,0,107,38,0,38,0,0" href="<%= root_path %>" title="<%=t 'general.title' %>" alt="<%=t 'general.title' %>" />
    </map>
  </section>
  <nav id="nav"><%= render :partial => 'podcast/radio_menu' %></nav>
<% end %>
