<section id="search-list">
  <section class="content-bloc">
    <hgroup>
      <h3 class="category"><%= t('action.search_list') %></h3>&nbsp;&bull;
      <%= @search %>
    </hgroup>
    <br/>
    <% unless @articles.nil? or @articles.empty? %>
      <%= render :partial => 'layouts/articles_1col_2_on_3_search',
                 :locals => { :articles => @articles } %>
    <% else %>
      <ol><%= t('article.empty') %></ol>
    <% end %>
  </section>
</section>
<section id="search-vignettes">
  <section class="content-bloc">
    <%= render :partial => 'layouts/articles_1col_1_on_3_picture', :locals => { :articles => @editos } %>
  </section>
  <section class="content-bloc">
    <%= render :partial => 'layouts/articles_1col_1_on_3_picture', :locals => { :articles => @actus } %>
  </section>
  <section class="content-bloc">
    <%= render :partial => 'layouts/articles_1col_1_on_3_picture', :locals => { :articles => @communiques } %>
  </section>
  <section class="content-bloc">
    <%= render :partial => 'layouts/articles_1col_1_on_3_picture', :locals => { :articles => @tout_international } %>
  </section>
</section>