<div class="inner-list">
  <% unless articles.nil? or articles.empty? %>
    <hgroup>
      <h3 class="category"><%= articles[0].category_option(:category_title) %>&nbsp;&bull;</h3>
      <% if articles[0].category_option?(:link_all_title) %>
        <h2 class="main-title">
          <%= link_to articles[0].category_option(:link_all_title), 
                      :controller => articles[0].category_option(:controller), 
                      :action => articles[0].category_option(:action_all) %>
        </h2>
      <% end %>
    </hgroup>
    <ol>
      <% first_row = true %>
      <% for article in articles %>
        <li>
          <article class="article">
            <header>
              <% unless article.heading.blank? %>
                <h4><%= article.heading_display.html_safe %></h4>&nbsp;&bull;
              <% end %>
              <h1><%= link_to article.title_display.html_safe, article.path %></h1>
              <% if not first_row %>
                <aside class="actions">
                  <%= link_to t('titre.lire'), article.path %>
                </aside>
              <% end %>
            </header>
            <% if first_row %>
              <div class="one-third-column">
                <%= truncate_html(article.content_with_medium.html_safe) %>
              </div>
              <footer class="actions">
                <%= link_to (article.category_option?(:video) ? 
                              t('titre.voir_video') :
                              t('titre.lire_suite')), article.path %>
              </footer>
              <% first_row = false %>
            <% end %>
          </article>
        </li>
      <% end %>
    </ol>
  <% end %>
</div>