<% unless articles.nil? or articles[0].nil? %>
  <hgroup>
    <h3 class="category"><%= articles[0].category_option(:category_title) %></h3>&nbsp;&bull;<br/>
    <% if articles[0].category_option?(:link_all_title) %>
      <h2 class="main-title">
        <%= link_to articles[0].category_option(:link_all_title), 
                    :controller => articles[0].category_option(:controller), 
                    :action => articles[0].category_option(:action_all) %>
      </h2>
    <% end %>
  </hgroup>
  <ol>
    <% for article in articles %>
      <li>
        <article class="article">
          <% if article.category_option?(:parent) %>
            <p class="photos" title="<%= article.title_display.html_safe %>">
              <% photo = article.find_published_by_folder_random 'image' %>
              <% if photo.present? and photo.image.present? %>
                <%= link_to image_tag(photo.image.url(:medium)),
                            :controller => :photos,
                            :action => :diaporama,
                            :uri => article.uri %>
                <div class="zoom-title">
                  <% unless article.heading.blank? %>
                    <h4><%= article.heading_display.html_safe %></h4><br/>
                  <% end %>
                  <h1><%= link_to article.title_display.html_safe, article.path %></h1>
                </div>
              <% end %>
            </p>
          <% end %>
        </article>
      </li>
    <% end %>
  </ol>
<% end %>