<% unless @article.nil? %>
  <% cache_if can_cache?, @article do %>
    <article itemscope itemtype="http://schema.org/Article" class="article">
      <hgroup>
        <% if user_signed_in? and current_user.publisher %><%= link_to icon('edit.gif'), @article %><% end %>
        <% if not @article.category_option?(:hide_category_name) %>
          <h3 class="main-title">
          <% if @article.category_option?(:link_all_title) %>
            <%= link_to @article.category_option(:category_title), 
                        { :controller => @article.category_option(:controller), 
                        :action => @article.category_option(:action_all) },
                        :title => @article.category_option(:link_all_title) %>
          <% else %>
            <%= @article.category_option(:category_title) %>
          <% end %>
          </h3>&nbsp;&bull;
        <% end %>
        <br/>
      </hgroup>
      <header>
        <% unless @article.heading.blank? %>
          <h4 itemprop="alternativeHeadline"><%= @article.heading_display.html_safe %></h4><br/>
        <% end %>
        <h1 itemprop="headline" class="large-title"><%= @article.title_display.html_safe %></h1>
        <% unless @tags.nil? %>
          <div itemprop="keywords" class="tag">
            <% for tag in @tags %><%= link_to tag.tag, global_search_path(:search => tag.tag) %><% end %>
          </div>
        <% end %>
        <% unless @article.source_id.nil? %>
          <h2 class="main-title">
            <%= link_to @article.source_display.html_safe, 
                  :controller => @article.source.category_option(:controller),
                  :action => @article.source.category_option(:action),
                  :uri => @article.source.uri %>
          </h2>
        <% end %>
        <% if @article.category_option?(:start_end_dates) or not @article.agenda.blank? %>
          <div class="date"><%= @article.start_end_datetime_display(true) %></div>
        <% else %>
          <div class="signature">
            <div itemprop="datePublished" class="date"><%= l @article.published_at, :format => :long_ordinal %></div>&nbsp;
            <% if @article.category_option?(:signature) %>
              <span itemprop="author"><%= @article.signature %></span>
            <% end %>
          </div>
        <% end %>
      </header>
      <% if not @article.address.blank? %>
        <strong><%= @article.address %></strong>
        <% if defined?(GOOGLE_MAPS_SCRIPT) %>
          <div id="carte" style="width:612px;height:260px;margin-top:10px;"></div>
          <script src="<%= GOOGLE_MAPS_SCRIPT %>"></script>
          <script>
            var geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(47,1.5);
            var mapOptions = { zoom: 12, center: latlng, mapTypeId: google.maps.MapTypeId.ROADMAP }
            var map = new google.maps.Map(document.getElementById('carte'), mapOptions);
            var marker;
            <% if @article.longitude.present? and @article.latitude.present? and @article.longitude > 0.0 and @article.latitude > 0.0 %>
              latlng = new google.maps.LatLng(<%= @article.latitude %>, <%= @article.longitude %>);
              map.setCenter(latlng);
              marker = new google.maps.Marker({
                map: map,
                position: latlng,
                title:"<%= @article.address_to_txt.gsub(/\"/, '\"').html_safe %>"
              });
            <% else %>
              geocoder.geocode(
                { address: "<%= @article.address_to_txt.gsub(/\"/, '\"') %>", region: "FR" },
                function(results, status) {
                  if (status == google.maps.GeocoderStatus.OK) {
                    map.setCenter(results[0].geometry.location);
                    marker = new google.maps.Marker({
                      map: map,
                      position: results[0].geometry.location,
                      title:"<%= @article.address_to_txt.gsub(/\"/, '\"').html_safe %>"
                    });
                  } else { $("#carte").hide(); }
                }
              );
            <% end %>
          </script>
        <% end %>
      <% end %>
      <% if @original_url.present? and @article.category_option?(:audio) %>
        <%= @article.add_soundcloud_sharing_tools(nil).html_safe %>
      <% end %>
      <span itemprop="articleBody"><%= @article.content_with_inline.html_safe unless @article.content.blank? %></span>
      <% if @article.category_option?(:audio) and @article.audio_file_name.present? %>
        <%= render :partial => 'layouts/audio', :locals => {:article => @article} %>
      <% end %>
      <footer>
        <% if @original_url.present? and not(@article.category_option?(:audio)) %>
          <strong><a href="<%= @original_url %>" title="<%= @page_title %>" rel="canonical" target="_blank"><%= t("activerecord.attributes.article.original_url_long") %></a></strong>
        <% end %>
        <hr/>
        <%= render :partial => 'layouts/share_article' %>
        <% unless @last_published.nil? or @last_published[0].nil? %>
          <hr/>
          <h3 class="category"><%=t 'titre.autres' %>&nbsp;&bull;</h3><br/>
          <% for previous_article in @last_published %>
            <% if previous_article.category_option?(:start_end_dates) or not previous_article.agenda.blank? %>
              <div class="date"><%= previous_article.start_end_datetime_display(true) %></div>
            <% else %>
              <div class="date"><%= l previous_article.published_at, :format => :long_ordinal %></div>&nbsp;
            <% end %>
            <% unless previous_article.heading.blank? %>
              <h4><%= previous_article.heading_display.html_safe %></h4>&nbsp;&bull;
            <% end %>
            <h1><%= link_to previous_article.title_display.html_safe, 
                  :controller => previous_article.category_option(:controller),
                  :action => previous_article.category_option(:action),
                  :uri => previous_article.uri %></h1>
            <br/>
          <% end %>
        <% end %>
        <% unless @same_heading.nil? or @same_heading[0].nil? %>
          <hr/>
          <h3 class="category"><%=t 'titre.same_heading' %>&nbsp;&bull;</h3><br/>
          <% for previous_article in @same_heading %>
            <% if previous_article.category_option?(:start_end_dates) or not previous_article.agenda.blank? %>
              <div class="date"><%= previous_article.start_end_datetime_display(true) %></div>
            <% else %>
              <div class="date"><%= l previous_article.published_at, :format => :long_ordinal %></div>&nbsp;
            <% end %>
            <% if not previous_article.category_option?(:hide_category_name) %>
              <h3 class="category"><%= previous_article.category_display %>&nbsp;&bull;</h3>
            <% end %>
            <h1><%= link_to previous_article.title_display.html_safe, 
                  :controller => previous_article.category_option(:controller),
                  :action => previous_article.category_option(:action),
                  :uri => previous_article.uri %></h1>
            <br/>
          <% end %>
        <% end %>
      </footer>
    </article>
  <% end %>
<% end %>
