<div class="inner-list">
  <% unless articles.nil? or articles[0].nil? %>
    <hgroup>
      <h3 class="category"><%= articles[0].category_option(:category_title) %></h3>&nbsp;&bull;
      <% if articles[0].category_option?(:link_all_title) %>
        <h2 class="main-title">
          <%= link_to articles[0].category_option(:link_all_title), 
                      :controller => articles[0].category_option(:controller), 
                      :action => articles[0].category_option(:action_all) %>
        </h2>
      <% end %>
    </hgroup>
    <ol>
      <% for article in articles %>
        <li>
          <article class="article article-separator">
            <h1>
              <%= link_to article.path do %>
                <% unless article.heading.blank? %>
                  <%= article.heading_display.html_safe %>&nbsp;&bull;
                <% end %>
                <%= article.title_display.html_safe %>
              <% end %>
            </h1>
          </article>
        </li>
      <% end %>
    </ol>
  <% end %>
</div>