<% unless articles.nil? %>
  <ol>
    <% for article in articles %>
      <% if article.category_option?(:controller) and article.category_option?(:action) %>
        <li>
          <hr/>
          <article class="article">
            <header>
              <h3 class="category"><%= article.category_display %>&nbsp;&bull;</h3>
              <% unless article.heading.blank? %>
                <h4><%= article.heading_display.html_safe %></h4>&nbsp;&bull;
              <% end %>
              <h1><%= link_to article.title_display.html_safe, article.path %></h1>
              <% unless article.source_id.nil? %>
                <br/>
                <h2 class="main-title"><%= link_to article.source_display.html_safe, article.source.path %></h2>
              <% end %>
              <% if article.category_option?(:start_end_dates) %>
                <br/>
                <strong><%= t('activerecord.attributes.article.start_datetime') %></strong>&nbsp;
                <div class="date"><%= article.start_end_datetime_display %></div>
              <% else %>
                <div class="signature">
                  <div class="date"><%= l article.published_at, :format => :long_ordinal %></div>&nbsp;
                  <%= article.signature if article.category_option?(:signature) %>
                </div>
              <% end %>
              <% if article.category_option?(:address) and not article.address.blank? %>
                <strong><%= t('activerecord.attributes.article.address') %></strong>&nbsp;
                <%= article.address %><br/>
              <% end %>
            </header>
            <br/>
            <%= truncate_html(article.content_with_large.html_safe) %>
            <footer class="actions">
              <%= link_to (article.category_option?(:video) ? 
                      t('titre.voir_video') :
                      t('titre.lire_suite')), article.path %>
            </footer>
          </article>
        </li>
      <% end %>
    <% end %>
    <footer><%= render :partial => 'layouts/page_navigator', :locals => { :text => params[:text] } %></footer>
  </ol>
<% end %>