<% unless articles.nil? or articles[0].nil? %>
  <hgroup>
    <h3 class="category"><%= articles[0].category_option(:category_title) %></h3>&nbsp;&bull;
  </hgroup>
  <table>
    <% for article in articles %>
      <tr>
        <td>
          <article class="article">
            <header>
              <div class="date"><%= article.start_end_datetime_display %></div>
            </header>
          </article>
        </td>
        <td class="article-inter-column"></td>
        <td>
          <article class="article">
            <header>
              <h1><%= link_to article.title_display.html_safe, article.path %></h1>
              <% unless article.address.blank? %><br/><%= article.address %><% end %>
            </header>
            <% if article.content.present? and article.content.length > 0 %>
              <%= truncate_html(article.content_with_mini,
                                :length => 200,
                                :omission => link_to(article.category_option?(:video) ? t('titre.voir_video').html_safe : t('titre.lire_suite').html_safe, article.path)) %>
            <% end %>
          </article>
        </td>
      </tr>
    <% end %>
  </table>
  <footer><%= render :partial => 'layouts/page_navigator' %></footer>
<% end %>