<div class="inner-list">
  <% unless articles.nil? or articles[0].nil? %>
    <hgroup>
      <h3 class="main-title">
      <% if articles[0].category_option?(:link_all_title) %>
        <%= link_to articles[0].category_option(:category_title), 
                    { :controller => articles[0].category_option(:controller), 
                    :action => articles[0].category_option(:action_all) },
                    :title => articles[0].category_option(:link_all_title) %>
      <% else %>
        <%= articles[0].category_option(:category_title) %>
      <% end %>
      </h3>&nbsp;&bull;
    </hgroup>
    <ol>
      <% first_row = true %>
      <% for article in articles %>
        <li>
          <article class="article">
            <header>
              <% unless article.heading.blank? %>
                <h4><%= article.heading_display.html_safe %></h4>&nbsp;&bull;
              <% end %>
              <h1><%= link_to article.title_display.html_safe, article.path %></h1>
            </header>
            <% if first_row %>
              <div class="one-third-column">
                <%= truncate_html(article.content_with_medium,
                                  :omission => link_to(article.category_option?(:video) ? t('titre.voir_video').html_safe : t('titre.lire_suite').html_safe, article.path)) %>
              </div>
              <% first_row = false %>
            <% end %>
          </article>
        </li>
      <% end %>
    </ol>
  <% end %>
</div>
