<% unless articles.nil? or articles[0].nil? %>
  <% if not defined?(partial) %>
    <hgroup>
      <h3 class="main-title">
      <% if articles[0].category_option?(:link_all_title) %>
        <%= link_to articles[0].category_option(:category_title), 
                    { :controller => articles[0].category_option(:controller), 
                    :action => articles[0].category_option(:action_all) },
                    :title => articles[0].category_option(:link_all_title) %>
      <% else %>
        <%= articles[0].category_option(:category_title) %>
      <% end %>
      </h3>&nbsp;&bull;
    </hgroup>
    <ol id="liste-articles">
  <% end %>
    <% for article in articles %>
      <li>
        <% cache_if can_cache?, article do %>
          <article class="article article-separator">
            <header>
              <% unless article.heading.blank? %><h4><%= article.heading_display.html_safe %></h4>&nbsp;&bull;<% end %>
              <h1><%= link_to article.title_display.html_safe, article.path %></h1>
              <% unless article.source_id.nil? %>
                <br/>
                <h2 class="main-title"><%= link_to article.source_display.html_safe, article.source.path %></h2>
              <% end %>
              <div class="signature">
                <div class="date"><%= l article.published_at, :format => :long_ordinal %></div>&nbsp;
                <%= article.signature if article.category_option?(:signature) %>
              </div>
            </header>
            <%= truncate_html(article.content_with_large,
                              :omission => link_to(article.category_option?(:video) ? t('titre.voir_video').html_safe : article.category_option?(:audio) ? t('titre.ecouter_radio').html_safe : t('titre.lire_suite').html_safe, article.path)) %>
            <% if article.audio_file_name %>
              <center><div class="ap-play"><%= link_to '&nbsp;'.html_safe, article.path, {:class => 'ap-button', :title => 'play'} %></div></center>
            <% end %>
          </article>
        <% end %>
      </li>
    <% end %>
    <% if @pages > 1 and @page < @pages %>
      <ol id="liste-articles-page<%= @page+1 %>">
        <footer><%= render :partial => 'layouts/page_navigator' %></footer>
      </ol>
      <script>
        $(window).scroll(function() {
           if($(window).scrollTop() + $(window).height() > getDocHeight()-10) {
             if ($('#liste-articles-page<%= @page+1 %>').children('li').length == 0) {
               $("#liste-articles-page<%= @page+1 %>").
                html('<%= escape_javascript(render :partial => "layouts/loading") %>').
                load(
                 "<%= url_for :page => @page+1, :heading => @page_heading, :search => @search, :partial => true %>");
             }
           }
        });
      </script>
    <% end %>
  <% if not defined?(partial) %>
    </ol>
  <% end %>
<% end %>
