<div class="inner-list">
  <% unless articles.nil? or articles[0].nil? %>
    <hgroup>
      <h3 class="main-title">
      <% if defined?(link_all_title) and defined?(controller) and defined?(action_all) %>
        <%= link_to defined?(category_title) ? category_title : articles[0].category_option(:category_title), 
                    { :controller => controller, 
                      :action => action_all },
                      :title => link_all_title %>
      <% else %>
        <% if articles[0].category_option?(:link_all_title) %>
          <%= link_to articles[0].category_option(:category_title), 
                      { :controller => articles[0].category_option(:controller), 
                      :action => articles[0].category_option(:action_all) },
                      :title => articles[0].category_option(:link_all_title) %>
        <% else %>
          <%= articles[0].category_option(:category_title) %>
        <% end %>
      <% end %>
      </h3>&nbsp;&bull;
    </hgroup>
    <ol>
      <% for article in articles %>
        <li>
          <article class="article article-separator">
            <h1>
              <%= link_to article.path do %>
                <% unless article.heading.blank? %>
                  <%= article.heading_display.html_safe %>&nbsp;&bull;
                <% end %>
                <%= article.title_display.html_safe %>
              <% end %>
            </h1>
          </article>
        </li>
      <% end %>
    </ol>
  <% end %>
</div>
