<% cache 'identity' do %>
  <section id="partidegauche">
    <span title="<%= t 'general.title' %>">
      <%= link_to root_path do %><img src="<%= asset_path 'PG.png' %>" alt="<%=t 'general.title' %>" width="325" height="108"><% end %>
    </span>
    <a class="adhesion" href="/adhesion" title="<%= t 'identity.apply' %>"><img src="<%= asset_path 'adherer.png' %>" alt="<%= t 'identity.apply' %>" width="90" height="90"></a>
    <span id="dons">
      <a class="don" href="/don" title="<%= t 'identity.support' %>"><img src="<%= asset_path 'dons.gif' %>" alt="<%= t 'identity.support' %>" width="90" height="90"></a>
    </span>
    <a class="gaucheparlexemple" target="_blank" href="<%= t 'identity.gaucheexemple_web' %>" title="<%= t 'identity.gaucheexemple' %>"><img src="<%= asset_path 'lagaucheparlexemple.png' %>" alt="<%= t 'identity.gaucheexemple' %>" width="90" height="90"></a>
  </section>
  <section id="frontdegauche" title="<%= t 'identity.fdg' %>">
    <a target="_blank" href="<%= t 'identity.fdg_web' %>"><img src="<%= asset_path 'logoFG210.png' %>" alt="<%= t 'identity.fdg' %>" width="210" height="108"></a>
  </section>
<% end %>