<% unless articles.nil? %>
  <hgroup>
    <h3 class="category">
      <%= Article::category_option(category, :category_title) %>&nbsp;&bull;
    </h3>
  </hgroup>
  <ol>
    <% for article in articles %>
      <li>
        <hr/>
        <article class="article">
          <header>
            <% unless article.heading.blank? %>
              <h4><%= article.heading_display.html_safe %></h4><br/>
            <% end %>
            <h1>
              <%= link_to article.title_display.html_safe,
                    :controller => article.category_option(:controller),
                    :action => article.category_option(:action),
                    :uri => article.uri %>
            </h1>
            <% unless article.source_id.nil? %>
              <br/>
              <h2 class="main-title">
                <%= link_to article.source_display.html_safe, 
                      :controller => article.source.category_option(:controller),
                      :action => article.source.category_option(:action),
                      :uri => article.source.uri %>
              </h2>
            <% end %>
            <div class="signature">
              <div class="date"><%= l article.published_at, :format => :long_ordinal %></div>&nbsp;
              <%= article.signature if article.category_option?(:signature) %>
            </div>
          </header>
          <br/>
          <% if article.category_option?(:audio) %>
            <%= render :partial => 'layouts/audio', :locals => {:article => article} %>
          <% end %>
          <%= truncate_html(article.content_with_large.html_safe) %>
          <footer class="actions">
            <%= link_to (article.category_option?(:video) ? 
                            t('titre.voir_video') :
                            t('titre.lire_suite')),
                  :controller => article.category_option(:controller),
                  :action => article.category_option(:action),
                  :uri => article.uri %>
          </footer>
        </article>
      </li>
    <% end %>
    <footer><%= render :partial => 'layouts/page_navigator' %></footer>
  </ol>
<% end %>