<% unless articles.nil? %>
  <hgroup>
    <h3 class="category">
      <%= Article::category_option(category, :category_title) %>&nbsp;&bull;<br/>
    </h3>
    <% if Article::category_option?(category, :link_all_title) %>
      <h2 class="main-title">
        <%= link_to Article::category_option(category, :link_all_title), 
                    :controller => Article::category_option(category, :controller), 
                    :action => Article::category_option(category, :action_all) %>
      </h2>
    <% end %>
  </hgroup>
  <ol>
    <% for article in articles %>
      <li>
        <article class="article">
          <% content = truncate_html(article.content_replaced_with_medium, :length => 240).html_safe %>
          <% if content[0..7] == "<img src" or content[0..10] == "<iframe src" %>
            <% if not defined?(title) or title == :default %>
              <% unless article.heading.blank? %>
                <h4><%= article.heading_display.html_safe %><br/></h4>
              <% end %>
              <h1>
                <%= link_to article.title_display.html_safe,
                                :controller => article.category_option(:controller),
                                :action => article.category_option(:action),
                                :uri => article.uri %>
              </h1>
            <% end %>
            <div class="one-third-column">
              <%= link_to content,
                    :controller => Article::category_option(category, :controller),
                    :action => Article::category_option(category, :action),
                    :uri => article.uri %>
            </div>
            <% if defined?(title) and title == :zoom %>
              <div class="zoom-title">
                <% unless article.heading.blank? %>
                  <h4><%= article.heading_display.html_safe %><br/></h4>
                <% end %>
                <h1>
                  <%= link_to article.title_display.html_safe,
                                  :controller => article.category_option(:controller),
                                  :action => article.category_option(:action),
                                  :uri => article.uri %>
                </h1>
              </div>
            <% end %>
          <% else %>
            <header>
              <% unless article.heading.blank? %>
                <h4><%= article.heading_display.html_safe %><br/></h4>
              <% end %>
              <h1>
                <%= link_to article.title_display.html_safe,
                      :controller => Article::category_option(category, :controller),
                      :action => Article::category_option(category, :action),
                      :uri => article.uri %>
              </h1>
            </header>
            <div class="one-third-column">
              <%= content %>
            </div>
          <% end %>
        </article>
      </li>
    <% end %>
  </ol>
<% end %>