<div class="inner-list">
  <% unless articles.nil? %>
    <hgroup>
      <h3 class="category">
        <%= Article::category_option(category, :category_title) %>&nbsp;&bull;<br/>
      </h3>
      <% if Article::category_option?(category, :link_all_title) %>
        <h2 class="main-title">
          <%= link_to Article::category_option(category, :link_all_title), 
                      :controller => Article::category_option(category, :controller), 
                      :action => Article::category_option(category, :action_all) %>
        </h2>
      <% end %>
    </hgroup>
    <ol>
      <% for article in articles %>
        <li>
          <article class="article">
            <header>
              <% unless article.heading.blank? %>
                <h4><%= article.heading_display.html_safe %><br/></h4>
              <% end %>
              <h1>
                <%= link_to article.title_display.html_safe,
                      :controller => Article::category_option(category, :controller),
                      :action => Article::category_option(category, :action),
                      :uri => article.uri %>
              </h1>
            </header>
            <div class="one-fourth-column">
              <%= truncate_html(article.content_with_small).html_safe %>
            </div>
            <footer class="actions">
              <%= link_to (Article::category_option?(category, :video) ? 
                              t('titre.voir_video') :
                              t('titre.lire_suite')),
                    :controller => Article::category_option(category, :controller),
                    :action => Article::category_option(category, :action),
                    :uri => article.uri %>
            </footer>
          </article>
        </li>
      <% end %>
    </ol>
  <% end %>
</div>