<% unless article.nil? %>
  <div class="inner-list">
    <article class="article">
      <hgroup>
        <h3 class="category"><%= article.category_display %></h3>&nbsp;&bull;
        <% if article.category_option?(:link_all_title) %>
          <h2 class="main-title">
            <%= link_to article.category_option(:link_all_title),
                  :controller => article.category_option(:controller),
                  :action => article.category_option(:action_all) %>
          </h2>
        <% end %>
        <br/>
      </hgroup>
      <header>
        <% length = 460 %>
        <% omission = link_to(article.category_option?(:video) ? t('titre.voir_video').html_safe : t('titre.lire_suite').html_safe, article.path) %>
        <% unless article.heading.blank? %>
          <h4><%= article.heading_display.html_safe %></h4><br/>
          <% length = length-30*(1+(article.heading_display.length/30).floor) %>
        <% end %>
        <h1>
          <%= link_to article.title_display.html_safe, article.path %>
          <% length = length-30*(1+(article.title_display.length/30).floor) %>
        </h1>
      </header>
      <% content = truncate_html(article.content_with_small, :length => length, :omission => omission) %>
      <% if content["<img src"] or content["<iframe src"] %>
        <% length = length - 110 %>
        <% content = truncate_html(article.content_with_small, :length => length, :omission => omission) %>
      <% end %>
      <%= content.html_safe %>
    </article>
  </div>
<% end %>