<section id="usermenubar" class="inline-menu">
  <% if user_signed_in? %>
    <% if current_user.access_level == 'reserved' %>
      <%= link_to_unless_current t('identity.reserved'), :controller => '/adherent' %> |
    <% end %>
    <% if current_user.publisher %>
      <%= link_to_unless_current t('general.content'), :controller => '/articles', :action => :index, :status => :new %> |
    <% end %>
    <% if current_user.administrator %>
      <%= link_to_unless_current t('general.administration'), :controller => '/users', :action => :index %> |
    <% end %>
  <% end %>
  <span title="<%= t('identity.txt_explain') %>"><%= link_to '.txt', :controller => :accueil, :action => :export_txt %></span> |
	<span title="<%= t('identity.rss_explain') %>"><%= link_to 'RSS', rss_feed_path(:format => :xml), :class => :popup %> <%= icon_medium('rss.png') %></span>
</section>