<% if user_signed_in? %>
  <% if current_user.administrator %><%= link_to_unless_current t('general.administration'), users_path %>&nbsp;&bull;<% end %>
  <% if current_user.publisher %><%= link_to_unless_current t('general.content'), articles_path(:status => :new) %>&nbsp;&bull;<% end %>
  <%= render :partial => 'layouts/logged_user_menu' %>&bull;
<% end %>
<span title="<%= t('identity.txt_explain') %>"><%= link_to '.txt', :controller => :accueil, :action => :export_txt %></span>&nbsp;&bull;
<span title="<%= t('identity.rss_explain') %>"><%= link_to_unless_current icon_medium('rss.png'), accueil_rss_path %></span>